.env 
config\.env 
assets\bg_cache\ 
output\ 
*.html 
__pycache__\ 
build\ 
dist\ 
logs\ 
db/pinterest_session.json
db/pinterest_session.bak.json
db/
seo/__pycache__/
config/__pycache__/
**/__pycache__/
